# University Graduation Predictions

## Project goals:

<div class="alert alert-block alert-info">
<b>Highlights:</b>
</br>

* identify features of wine that influence whether or not a student graduates.
</br>

* Visualize relationships between variables
</br>

* use classification models to predict whether or not a student graduates.

In [2]:
import pandas as pd
import seaborn as sns
import matplotlib.pyplot as plt
from scipy import stats
import numpy as np
import project

## Acquire

<div class="alert alert-block alert-info">
<b>Highlights:</b>
</br>

* Data was obtained from kaggle.com
</br>

* Data was obtained 2/13/2023
</br>

* Dataframe had 4,424 rows by 35 columns before preparing
</br>

* Each row represents a studen and each column is a feature of that student

In [7]:
df = project.acquire_grads()
# this function acquires data from csv file in repo

# Prepare

<div class="alert alert-block alert-info">
<b>Highlights:</b>
</br>

* There were no null values in the dataset
</br>

* Numeric values were changed to their string equivalents
</br>

* to see changes, view project.py file
</br>

In [8]:
df = project.prep_grads(df)
df

,Marital status,Course,Daytime/evening attendance,Previous qualification,Nacionality,Mother's qualification,Father's qualification,Mother's occupation,Father's occupation,Educational special needs,Tuition fees up to date,Gender,Scholarship holder,Age at enrollment,Target
0,single,Animation,1,high school only,european,no high school,no high school,service,trade,0,1,1,0,20,Dropout
1,single,tourism,1,high school only,european,high school only,bachelor's degree,STEM,STEM,0,0,1,0,19,Graduate
2,single,communication,1,high school only,european,no high school,no high school,trade,trade,0,0,1,0,19,Dropout
3,single,communication,1,high school only,european,no high school,no high school,service,STEM,0,1,0,0,20,Graduate
4,married,social service,0,high school only,european,no high school,no high school,trade,trade,0,1,0,0,45,Graduate
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
4419,single,communication,1,high school only,european,high school only,high school only,service,service,0,1,1,0,19,Graduate
4420,single,communication,1,high school only,asian,high school only,high school only,trade,trade,0,0,0,0,18,Dropout
4421,single,nursing,1,high school only,european,no high school,no high school,trade,trade,0,1,0,1,30,Dropout
4422,single,management,1,high school only,european,no high school,no high school,trade,service,0,1,0,1,20,Graduate
4423,single,communication,1,high school only,african,no high school,no high school,service,trade,0,1,0,0,22,Graduate

# Exploration

* Does marital status effect graduation?
* Does age at enrollment affect graduation?
* Does holding a scholarship affect graduation?
* Does day/evening attendence affect gradtuation?
* Does nationality affect graduation?
* Does mother/father's education level affect graduation?
* Does mother/father's occupation affect graduation?